body {
    background-color: #ECF0F6;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: 1px solid black;*/
}