#inputField {
    width: 600px;
    height: 30px;
    outline: #39629C 1px solid;
    top: 20%;
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%)
}

input::placeholder {
    color: #c7d1de;
    font-style: italic;
}