body {
    background-color: #ECF0F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    top: 20%;
    position: absolute;
}

#inputField {
    width: 600px;
    height: 30px;
    outline: #39629C 1px solid;
}

input::placeholder {
    color: #c7d1de;
    font-style: italic;
}

.container {   /*before와 after를 담고 있는 container*/
    display: flex;
    width: 800px;
    top: 25%;
    position: absolute;
    justify-content: space-between; /*간격 유지를 위해 space-between 사용*/
}

#before {
    top: 27%;
    left: 23%;
    position: absolute;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

#after {
    top: 27%;
    right: 20%;
    position: absolute;
    justify-content: right;
    text-align: center;
    padding: 5px;
}

.custom-div {
    background-color: #ECF0F6;
    padding: 15px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 2px solid #D0DBED;
    font-weight: bold;
    width: 150px;
    display: flex;
}


.custom-div button {
    background-color: #D0DBED;
    border: none;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
}