body {
    background-color: #1F2141;
    height: 100%
}

 .detail-wrapper {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.detail-container {
    display: flex;
    flex-direction: row;
    width: 90%; 
    height: 60%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -60%);
}

.image-content {
    height: 100%;
    width: 40%;
    
}

img {
    height: 100%;
    width: 100%;
}

.main-content {
    height: 100%;
    width: 60%;
    text-align: left;
    padding: 3% 5% 0% 5%;
}

.cast-crew-container {
    width: 90%; height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 100%; left: 48%;
    transform: translate(-50%, -50%);
}