body {
    background-color: #ACD8E6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#signup-wrapper {
    background-color: #DFF0F5;
    width: 800px; height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px;
}

#header {
    position: absolute;
    display: flex;
    top: 10%;
    font-size: 30px;
}

.user-info input[type="text"],
.user-info input[type="email"],
.user-info input[type="number"],
.user-info input[type="password"] {
    width: 300px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: transparent; /* 입력창을 투명하게 만듭니다 */
    transition: border-color 0.3s ease;
    border-color: white;
}

#signup {
    width: 200px;
    background-color: #808080;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 8%;
}

#modal-wrapper {
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0 , 0, 0.5);
}

#modal-content {
    background-color: #ffffff;
    width: 300px; height: 150px;
    padding: 15px;
    display: flex;
}

#modal-body {
    position: absolute;
    text-align: left;
}

#modal-close {
    align-self: flex-end;
    margin-left: auto;
}