body {
    width: 100%;
    height: 100%;
    color: white;
}

.Navbar-wrapper {
    display: flex;
    color: white;
    flex-direction: row;
    width: 100%;
    background-color: #171A32;
}

.Navbar-left {
    display: flex;
    left: 0;
}

.Navbar-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

h5 {
    margin: 12px;
}

.Navbar-right  h5:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: red;
}