.footer {
  background-color: #fcfdf5;
  padding: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute; /* 컨테이너 기준으로 하단에 고정 */
  bottom: 0; /* 컨테이너의 맨 아래에 위치 */
  left: 0; /* 컨테이너의 왼쪽에서 시작 */
  width: 100%; /* 컨테이너 크기에 맞춰 넓이 조정 */
  z-index: 1000; /* 다른 요소들보다 위에 표시되도록 z-index 설정 */
}

.footer-item {
  text-align: center;
  font-size: 12px;
}

.footer-item a {
  text-decoration: none; /* 밑줄 제거 */
  color: black;
  display: block;
  text-align: center;
  font-weight: 500;
}

.footer-icon {
  display: block;
  margin: 0 auto 5px;
  width: 35px;
  height: 35px;
}

.footer-item.home a {
  color: #ff87b7;
}
