.footer {
  height: 6vh;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fcfdf5;
  color: #fcfdf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  z-index: 100; /* 다른 요소 위에 나타나도록 z-index 값 설정 */
}

.footer-item {
  text-align: center;
  font-size: 14px; /* 폰트 크기 조금 증가 */
  flex: 1; /* 각 항목이 동일한 크기를 갖도록 함 */
}

.footer-item p {
  padding: 0;
  margin: 0;
}

.footer-item img {
  margin-bottom: 0%;
}

.footer-item a {
  text-decoration: none; /* 밑줄 제거 */
  color: black;
  display: block;
  text-align: center;
  font-weight: 500;
}

.footer-icon {
  display: block;
  margin: 0 auto 5px;
  width: 35px;
  height: 35px;
}

.footer-item.home a {
  color: black;
}

.footer-item a:hover {
  color: #ff87b7; /* 호버 시 색상 변경 */
  transform: scale(1.1); /* 호버 시 아이콘 크기 확대 */
  transition: transform 0.2s ease-in-out; /* 변환 시 부드러운 전환 효과 */
}
.footer-item.active a {
  color: #ff87b7;
}

.footer-item.active img {
  filter: brightness(0) saturate(100%) invert(64%) sepia(40%) saturate(5084%)
    hue-rotate(297deg) brightness(97%) contrast(91%);
}

/* peek의 경우 활성화 시 색상 효과를 제거 */
.footer-item:nth-child(2).active a {
  color: black;
}

.footer-item:nth-child(2).active img {
  filter: none;
}
